# Ignore reference code
captcha.jpg
captcha.png
output.jpg
temp.txt
output_image.jpg
.vscode/
.env

# Ignore downloaded images
*.jpg
*.png

# Ignore VSCode settings
.vscode/
.env*
*.env

# Ignore Binary
cli-top*
*.exe

# Calendar files
*.ics
/.vs
